<div class="row row-cols-5">
  <div class="col">
    <div class="card border border-primary text-center">
        <div class="card-header bg-transparent shadow-lg">
            <img class="w-100" src="https://t3.ftcdn.net/jpg/03/19/15/80/360_F_319158029_4JKXm8ZJy7BaaciR3SB6ZuGxL1mVGPRA.jpg" alt="">
        </div>
        <div class="card-body">
            <h1>{{ propertyList[0].name }}</h1>
            <h2>{{ propertyList[0].location }}</h2>
            <h3>{{ propertyList[0].price }}</h3>
        </div>
    </div>
  </div>
</div>
